.about-us {
    padding: 80px 0;
    background-color: #0A0A0A;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.about-image {
    flex: 1;
    position: relative;
    margin-right: 50px;
}

.about-image img {
    width: 100%;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

.about-content {
    flex: 1;
    padding: 20px;
}

.pre-headline {
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

.about-description {
    color: #AAAAAA;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* For mobile responsiveness */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }
    
    /* Make sure the image comes after the content on mobile */
    .about-content {
        order: 1; /* This will place the content first */
    }
    
    .about-image {
        order: 2; /* This will place the image after the content */
        margin-right: 0;
        margin-top: 30px; /* Add some space between content and image */
    }
}